{erl_opts, [debug_info]}.
{deps, [erlcloud, ibrowse, jsx, lager, eper]}.
{relx, [{release, {deploy_track, "1.0.0"},
    [deploy_track, runtime_tools, eper]},

    {dev_mode, false},
    {include_erts, true},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {extended_start_script, true}]}.
