[
    {kernel, [
        {distributed, [{deploy_track,
            5000,
            ['deploy_track@deploy-track1', 'deploy_track@deploy-track2']}]},
        {sync_nodes_mandatory, ['deploy_track@deploy-track1']},
        {sync_nodes_timeout, 30000}
    ]},
    {deploy_track, [
        {pkgcloud_up_key, "pkgcloud-debug"},
        {pkgcloud_user, <<"basho">>},
        {pkgcloud_timeout, 600000},
        {pkgcloud_products, ["riak-ts"]},
        {s3_products, ["riak_ts"]},
        {s3_dl_bucket, "downloads.basho.com"},
        {s3_dl_prefix, "log/access_log"},
        {s3_hostname, "s3.amazonaws.com"},
        {s3_interval, 3600000},  %% One hour in msecs
        {s3_up_bucket, "deployment-tracker.basho.com"},
        {s3_up_key, "s3-debug"}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "error.log"}, {level, debug}]},
            {lager_file_backend, [{file, "console.log"}, {level, debug}]}
        ]}
    ]}
].
