[
    {kernel, [
        {distributed, [{deploy_track,
            5000,
            ['deploy_track@deploy-track1', 'deploy_track@deploy-track2']}]},
        {sync_nodes_mandatory, ['deploy_track@deploy-track1']},
        {sync_nodes_timeout, 30000}
    ]},
    {deploy_track, [
        {pkgcloud_up_key, "pkgcloud"},
        {pkgcloud_user, <<"basho">>},
        {products, ["riak_ts"]},
        {s3_dl_bucket, "downloads.basho.com"},
        {s3_dl_prefix, "log/access_log"},
        {s3_hostname, "s3.amazonaws.com"},
        {s3_interval, 3600000},  %% One hour in msecs
        {s3_up_bucket, "deployment-tracker.basho.com"},
        {s3_up_key, "s3"}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]},
    {sasl, [{sasl_error_logger, false}]}
].
