[{kernel,
    [{distributed, [{deploy_track,
        5000,
        ['deploy_track@tools.az1.cloud1', 'deploy_track@tools.az2.cloud1']}]},
        {sync_nodes_mandatory, ['deploy_track@tools.az1.cloud1']},
        {sync_nodes_timeout, 30000}
    ]},
    {deploy_track, [
        {pkgcloud_up_key, "pkgcloud"},
        {pkgcloud_user, <<"basho">>},
        {pkgcloud_timeout, 600000},
        {pkgcloud_products, ["riak-ts"]},
        {s3_products, ["riak_ts"]},
        {s3_dl_bucket, "downloads.basho.com"},
        {s3_dl_prefix, "log/access_log"},
        {s3_hostname, "s3.amazonaws.com"},
        {s3_interval, 3600000},  %% One hour in msecs
        {s3_up_bucket, "deployment-tracker.basho.com"},
        {s3_up_key, "s3"}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {"/var/log/deploy_track/error.log", error, 10485760, "$D0", 5},
                {"/var/log/deploy_track/console.log", info, 10485760, "$D0", 5}
            ]}
        ]},
        {crash_log, "/var/log/deploy_track/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true},
        {error_logger_hwm, 100}
    ]}
].
